.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 10px;
    justify-content: space-between;
}
.top-nav {
    width: 100%;
    height: 150px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    padding: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
}
#advertisement {
    height: 120px;
    width: 670px;
    background-color: purple;
    margin: 10px;
}
.row {
    /* TODO - what should go here? */
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}