h1 {
    color: aqua;
    background-color: black;
    text-align: left;
    span {
        color: white;
    }
    
}
h2 {
    color:white;
    background-color: blueviolet;
    font-style: italic;
    text-align: center;

}
h3{
    color: black;
    background-color: cornflowerblue;
    text-decoration: underline;
    text-align: right;
    font-family:serif
    ;
}