.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.top-nav {
    height: 150px;
    width: 100%;
    background-color: green;
    

}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 10px;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: flex;
    flex-direction: row;flex-wrap: wrap;
    padding: 5px;
    margin-top: 10px;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    width: 100%;
    margin: 10px;
}