.b1{
    width: 135px;
    height: 30px;
    border-radius: 50px; 
    border: 0ch;
    color: #309c9e;
    background-color:#f5f5f5;
    border: 1px solid #309c9e;
    margin: 5px;
}

.b2{
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border: 0ch;
    color:white;
    background-color: rgb(65, 209, 178);
    margin: 5px;
} 
.b3{
    width: 145px;
    height: 35px;
    box-shadow: 3px 3px  black;
    border: 1px solid black;
    color:white;
    background-color:rgb(44, 120, 228); 
    margin: 5px;
}